<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="microservices.book.socialmultiplication.mapper.MultiplicationResultAttemptMapper">
    <resultMap id="BaseResultMap" type="microservices.book.socialmultiplication.domain.MultiplicationResultAttempt">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="user.id"/>
        <result column="alias" jdbcType="VARCHAR" property="user.alias"/>
        <result column="multiplication_id" jdbcType="INTEGER" property="multiplication.id"/>
        <result column="result_attempt" jdbcType="INTEGER" property="resultAttempt"/>
        <result column="correct" jdbcType="BIT" property="correct"/>
        <result column="factora" jdbcType="SMALLINT" property="multiplication.factorA"/>
        <result column="factorb" jdbcType="SMALLINT" property="multiplication.factorB"/>
    </resultMap>
</mapper>